In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
# Reading input file to dataframe
filepath = ("purchase_data.json")
game_df = pd.read_json(filepath)
game_df.to_csv("mainjson output.csv", sep =',', encoding='utf-8')
game_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [3]:
#Total Players Count
players_count = game_df["Gender"].count()
players_count

780

In [4]:
#Purchasing Analysis
total_uniq_count = len(game_df["Item Name"].unique())
average_purc_price = round(game_df["Price"].sum()/total_uniq_count,2)
total_purc = game_df["Price"].count()
total_revenue = game_df["Price"].sum()

purc_analysis_df = pd.DataFrame({"Number of Unique Items":[total_uniq_count],"Average Purchase Price":[average_purc_price],
                         "Total Number of Purchases":[total_purc], "Total Revenue":[total_revenue]}, 
                            columns =["Number of Unique Items","Average Purchase Price","Total Number of Purchases","Total Revenue"])

purc_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,12.77,780,2286.33

In [ ]:
#Gender Demographics